* {
    margin: 0;
    padding: 0;
}

.table {
    width: 1126px;
    margin-left: -15px;
    border-left: 2px solid #86CFDA;
    border-right: 2px solid #86CFDA;
    text-align: center;
}

.back {
    width: 1126px;
    height: 56px;
    background-color: #CCE5FF;
    border-left: 2px solid #86CFDA;
    border-right: 2px solid #86CFDA;
    margin-left: 50px;
    padding: 0;
}

.base li {
    width: 100px;
    height: 35px;
    margin-right: 8px;
    margin-top: 12px;
    margin-bottom: 3px;
    background-color: white;
}

.back li a {
    color: #000000;
}

.tb {
    height: 50px;
    background-color: aliceblue;
}

.ip {

    width: auto;
    height: 56px;
}
